/*? Bug Fix: Skeleton not import heading font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@tailwind base;
html,
body {
  @apply h-full overflow-hidden;
}
@tailwind components;
@tailwind utilities;
