@tailwind base;
html,
body {
  @apply h-full overflow-hidden;
}
@tailwind components;
@tailwind utilities;

:root [data-theme="vintage"] {
    --theme-font-family-heading: "Playfair Display", serif;
    --theme-font-family-base: "Open Sans", sans-serif
}
